<style type="text/css">
	
h2{
	direction: rtl;
}
	#content{

		direction: rtl;
	}
	center{
	direction: rtl;
}
	pre{


		padding: 8px 0 12px 20px;
border-left: 4px solid #566D82;
margin-bottom: 1.25em;
background: #0F192A;
color:white;
}
	}
</style>

<body>
<h2>تىپلار</h2>

<p id="content">
js تا ئوبيكىت قىممىتن سىلىشتۇرۇشنىڭ ئىككى خىل ئۇسۇلى بار
تەڭلەشتۈرۈش بەلگىسى
تەڭلەشتۈرۈش بەلگىسى ئىككى دانە تەڭلىمەدىن تەركىب تاپقان:==
javasscript نىڭ ئىقتىدارى ئاجىزلىقى تىپلاشتۇرۇش بولۇپ،بۇنداق دىگەنلىك قىممەتنى سىلىشتۈرۈش ئۈچۈن زورلۇق قوللىنىلىدۇ
</p>
<pre>
""           ==   "0"           // false
0            ==   ""            // true
0            ==   "0"           // true
false        ==   "false"       // false
false        ==   "0"           // true
false        ==   undefined     // false
false        ==   null          // false
null         ==   undefined     // true
" \t\r\n"    ==   0    

</pre>
<p id="content">
ئۈستىدكى جەدۋەل تىپ مەجبۇرلاشنىڭ نەتىجىسنى كۆرسىتىپ بىرىدۇ،بۇنىڭ ئاساسلىق سەۋەبى بولسا == تەڭلەشتۈرۈش بەلگىسنى قوللىنىش كەڭ دائىرلىق ناچار ئۇسۇل دەپ قارالغان،ھەمدە بۇ خىل ئۇسۇلدا سىلىشتۇرۇش ئىپ كۆپ مىقداردىكى كودتىن خاتالىقنى تىپىشنى قىينلاشتۇرۇپ قويىدۇ،ھەمدە بۇخىل ئۇسۇلدا سىلىشتۇرۇش ئىپ بىرىشنىڭ كودنىڭ ئىجرا بولۇش سۈرئىتىگە تەسىرى بار
</br>
</br>

چىڭ ھالەتتىكى تەڭلەشتۈرۈش بەلگىسى
</br>
چىڭ ھالەتتىكى تەڭلەشتۈرۈش بەلگىسى ئۈچ دانە === بەلگىدىن تەركىپ تاپقان
بۇخىلدىكى تەڭلەشتۈرۈش بەلگىسى نورمال ھالەتتە تەڭلەشتۈرۈش ئىپ بارالايدۇ،بۇندىن باشقا تىپقا مەجبۇرلاش قوللانمايدۇ
</p>
<pre>
""           ===   "0"           // false
0            ===   ""            // false
0            ===   "0"           // false
false        ===   "false"       // false
false        ===   "0"           // false
false        ===   undefined     // false
false        ===   null          // false
null         ===   undefined     // false
" \t\r\n"    ===   0             // false
</pre>
<p id="content">
ئۈستىدكى جەدۋەلدىكى كودنىڭ نەتىجىسى ناھايتى ئىنىق،بۇخىل ئۇسۇلدا تەڭلەشتۈرۈش ئىپ بارغاندا كودنىڭ پۇختلىقىنى مۇئەييەن دەرىجىدە ئاشۇرىدۇ
</br>
</br>
ئوبيكىتنى سىلىشتۇرۇش
</br>
</br>
== ۋە === ئىككىلىسى ئوخشاشلا تەڭلەشتۈرۈش بەلگىسى دەپ ئاتىلىدۇ،ئەمما بۇ تەڭلەشتۈرۈش بەلگىرى ئوبيكىت(object)تە قوللىنىلغاندا ئوخشىمايدۇ
</p>
<pre>
{} === {};                   // false
new String('foo') === 'foo'; // false
new Number(10) === 10;       // false
var foo = {};
foo === foo;                 // true
</pre>
<p id="content">
ئۈستىدكى ئىككىلى تەڭلەشتۈرۈش بەلگىسى پەرىقنى سىلىشتۇرىدۇ،تەڭلىكنى ئەمەس،ئۇلار ئوبيكىتنىڭ ئوخشاش ئۈلگىسى(instance)سىلىشتۇرىدىغان بولۇپ،بۇ python دىكى is ۋە c دىكى كۆرسەتكۈچ(pointer)غا ئوخشايدۇ
<br>
خۇلاسە
</br>
تەۋىسيە قىلىنغان تەڭلەشتۈرۈش ئۇسۇلى بولسا === نى ئىشلىتىش == نى ئەمەس
</p>
<center>{{tormahiri}}</center>
</body>
